<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils-ieshiv.js"></script>
    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- YUI -->
    <!-- Dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/utilities/utilities.js" ></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/slider/slider-min.js" ></script>

    <!-- Color Picker source files for CSS and JavaScript -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/colorpicker/assets/skins/sam/colorpicker.css">
    <script src="http://yui.yahooapis.com/2.9.0/build/colorpicker/colorpicker-min.js" ></script>

    <!-- Stellar -->
    <script src="bower_components/stellar/jquery.stellar.js"></script>
    <title>Website subtitle</title>
</head>
<body>

    <div class="header">

        <div id="wrap">
            <div id="a" data-stellar-ratio="1.2"><img src="images/bubble-green.png" alt="" height="100%" weight="100%"/></div>
            <div id="b" data-stellar-ratio="1.3"><img src="images/bubble-green2.png" alt="" height="100%" weight="100%"/></div>
            <div id="c" data-stellar-ratio="1.6"><img src="images/bubble-green.png" alt="" height="100%" weight="100%"/></div>
        </div>

        <div class="header-title">
            <h1><span class="half-colored">Status</span>page <small>alv-systems</small></h1>
        </div>

        <nav ui-scrollfix="" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"></span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="infos.html">Infos</a></li>
                        <li><a href="tipps.html">Tipps</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Differences <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-red">
                        <li><a ng-click="checked1 = !checked1">Text color:
                            <div class="check-element animate-show" ng-show="checked1">
                                <div class="yui-skin-sam">
                                    <div id="container1">
                                    </div>
                                </div>
                            </div></a>
                        </li>
                        <li><a ng-click="checked2 = !checked2">Container color:
                            <div class="check-element animate-show" ng-show="checked2">
                                <div class="yui-skin-sam">
                                    <div id="container2">
                                    </div>
                                </div>
                            </div></a>
                        </li>
                        <li><a ng-click="checked3 = !checked3">Background color:
                            <div class="check-element animate-show" ng-show="checked3">
                                <div class="yui-skin-sam">
                                    <div id="container3">
                                    </div>
                                </div>
                            </div></a>
                        </li>
                        <li>
                            <a id="reset">Default</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <!-- grid system -->
    <div class="container">
        <div class="row">
            <div class="maincontent">
                <div class="content width100 center" id="content">
                    <!-- NG-Form Validierung -->
                    <ng-form role="form" name='addUserForm' ng-controller='AddUserController'>
                        <h1 class="align-center">Sign Up </h1>
                        <div ng-show='message'>{{message}}</div>
                        <div><label>First name: </label><input class="form-control" placeholder="Enter Firstname" name='Firstname' ng-model='user.first' required/></div>
                        <div><label>Last name: </label><br><input class="form-control" placeholder="Enter Lastname" ng-model='user.last' required/></div>
                        <div><label>Email: </label><br><input class="form-control" placeholder="Enter email" type='email' ng-model='user.email' required/></div>
                        <div><label>Age: </label><br><input class="form-control" placeholder="Enter Age" type='number' ng-model='user.age' max='120' min='1' required/></div><br>
                        <!--Button is disabled till form is valid-->
                        <div><button ng-click='addUser()' ng-disabled='!addUserForm.$valid'>Submit</button></div>
                    </ng-form>

                </div>

                <div class="divider">
                    <img src="images/Line-Divider.png" alt="Divider" width="100%" height="150px">
                </div>

                <div class="content">
                    <!-- Search -->
                    <form class="search-form pull-right">
                        <input type="text" ng-model="search" placeholder="Search" class="form-control">

                        <p ng-show="search">Du suchst gerade nach: {{search}}</p>
                    </form>
                    <br>
                    <!-- Search Filter -->
                    <table class="table" ng-controller="ArticlesCtrl">
                        <tr>
                            <td><b>Identifier</b></td>
                            <td><b>Name</b></td>
                            <td><b>Preis</b></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="article in articles | filter:search">
                            <td>{{article.id}}</td>
                            <td>{{article.name}}</td>
                            <td>{{article.price}}</td>
                            <!-- Add -->
                            <td><a href class="btn btn-default btn-sm pull-right" ng-click="addArticle(article);">Hinzufügen</a></td>
                        </tr>
                    </table>

                    <div ng-controller="CartCtrl">
                        <!-- Show alert while nothing is selected, show table when something is selected -->
                        <div ng-hide="getItems().length" class="alert alert-info">Ihr Warenkorb ist noch leer.</div>

                        <table ng-show="getItems().length" class="table">
                            <tr>
                                <td><b>Identifier</b></td>
                                <td><b>Name</b></td>
                                <td><b>Preis</b></td>
                                <td></td>
                            </tr>
                            <!-- Remove all Button -->
                            <tr ng-repeat="item in getItems() track by $index"  class="cart-item">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.price | currency}}</td>
                                <!-- Remove -->
                                <td><a href class="btn btn-default btn-sm pull-right" ng-click="remove($index)">Remove</a></td>
                            </tr>
                            <tr>
                                <td><b>Artikel</b></td>
                                <td><b>Summe</b></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{getItems().length}}</td>
                                <td>{{sum() | currency}}</td>
                                <td></td>
                                <td><a href class="btn btn-default btn-sm pull-right" ng-click="removeAll()">Remove all</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="divider">
                    <img src="images/Line-Divider.png" alt="Divider" width="100%" height="150px">
                </div>

                <div class="content">

                 </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="index.html"><h1>Impressum <small> copyright &copy;</small></h1></a>
    </footer>

    <script type="text/javascript" src="js/ng-stuff/app.js"></script>
    <script type="text/javascript" src="js/ng-stuff/controller.js"></script>
    <script type="text/javascript" src="js/ng-stuff/factory.js"></script>
    <script type="text/javascript" src="js/ng-stuff/colorpicker.js"></script>
    <script type="text/javascript" src="js/stellar/stellar.js"></script>

</body>
</html>